<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4">
            <div class="row">
                <div class="col-sm-8 col-md-8 mb-3">
                    <p class="title">Existencias</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row align-items-center">
                <div class="col-md-8 mb-3">
                    <mat-form-field appearance="outline" class="mb-0">
                        <mat-label>Buscar</mat-label>
                        <mat-icon matPrefix>search</mat-icon>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. tarea 1" #input>
                    </mat-form-field>
                </div>
                
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="row align-items-center">
                   
                <div class="col-md-4 mb-3" >
                    <button style="height: 55px; margin-top: -23px;" type="button"
                        class="btn btn-outline-success text-btn" (click)="salir()">Salir</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 2%;">
        <div class="table-responsive">
            <mat-progress-bar mode="query" *ngIf="!isLoader"></mat-progress-bar>
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- ID Column -->
                
                <!-- ID Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="th"> Producto </th>
                    <td mat-cell *matCellDef="let element" class="td"> {{element.nombre}} </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="fechaVence">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="th"> Fecha Vencimiento </th>
                    <td mat-cell *matCellDef="let element" class="td"> {{element.fechaVence}} </td>
                </ng-container>
                <ng-container matColumnDef="nombreEstado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="th"> Estado </th>
                    <td mat-cell *matCellDef="let element" class="td"> {{element.nombreEstado}} </td>
                </ng-container>

                
                <ng-container matColumnDef="saldo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="th"> Saldo </th>
                    <td mat-cell *matCellDef="let element" class="td"> {{element.saldo}} </td>
                </ng-container>

              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4" class="td">Datos no encontrados "{{input.value}}"</td>
                </tr>
            </table>
        </div>
        <mat-paginator (page)="onPageChange($event)" a [length]="resultsLength" [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"></mat-paginator>
    </div>
</div>
